:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
    --white: #FFFFFF;
    --grey: #9F9F9F;
    --light-grey: #F8F8F8;
    --black-gray: #5D5D5D;
    --red: #F26376;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
    position: relative;
    height: 75px;
}

.header__icon {
    margin: 0 41px 0 0;
}

.header__loupe {
    background-color: var(--black);
    border: 0ch;
    fill: var(--light-grey);
}

.header__loupe:hover,
.header__loupe:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header__loupe:active {
    fill: var(--bdark-pink);
}

.header__list {
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 40px;
    align-items: center;
}

.header__burger {
    fill: var(--white);
    background-color: var(--black);
    border: 0;
}

.header__burger:hover,
.header__burger:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header__item-2 {
    display: flex;
    fill: var(--light-grey);
    background-color: var(--black);
}

.header__item-2:hover,
.header__item-2:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header__loupe:hover,
.header__loupe:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header__loupe:active {
    fill: var(--bdark-pink);
}

.header__link {
    margin: 0 0 0 34px;
    border: 0px;
}

.header__nav {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 765px;
    width: 232px;
    display: none;
    margin: 23px 0 0 0;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__title {
    text-transform: uppercase;
    margin: 37px 0 0 34px;
}

.nav-sub-item {
    text-decoration: none;
    margin: 24px 0 0 33px;
}

.nav-sub-item__title {
    text-transform: uppercase;
    color: var(--bdark-pink);
    text-decoration: none;
}

.nav-sub-item__list {
    margin: 12px 0 20px 23px;
}

.nav-sub-item__item {
    margin: 0 0 11px 0;
}

.nav-sub-item__link {
    text-decoration: none;
    color: #6F6E6E;
}

.nav-sub-title-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--black-gray);
}

.header__burger:hover+.header__nav,
.header__burger:focus+.header__nav {
    display: block;
}

.header__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}







.header__registration {
    height: 148px;
    background-color: #F8F3F4;
}

.header__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding: 60px 0 0 0;
    text-transform: uppercase;
}

.control__content {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 0 0;
}

.control__title {
    padding: 0 0 20px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

}

.item__first {
    border: 1px solid #A4A4A4;
    margin: 0 0 20px 0;
    width: 360px;
    height: 45px;
    padding: 0 0 0 17px;
}

.item__last {
    border: 1px solid #A4A4A4;
    width: 360px;
    height: 45px;
    padding: 0 0 0 17px;
    margin: 0 0 31px 0;
}

.item__email {
    border: 1px solid #A4A4A4;
    margin: 0 0 20px 0;
    width: 360px;
    height: 45px;
    padding: 0 0 0 17px;
}

.item__pas {
    border: 1px solid #A4A4A4;
    width: 360px;
    height: 45px;
    padding: 0 0 0 17px;
}

.form {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 360px;
    font-family: 'Lato';
}

.form__gender {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

#gender_female {
    margin: 0 0 0 20px;
}

.email__title {
    margin: 33px 0 20px 0;
}

.pas__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin: 15px 0 39px 0;
}

.control__button {
    width: 167px;
    height: 50px;
    background: #F16D7F;
    text-transform: uppercase;
    border: 0px;
    color: #FFFFFF;
    margin: 0 0 96px 0;
}

.button__img {
    padding: 0 0 0 20px;
}

.sidebar {
    width: 652px;
    margin: 0 0 0 128px;
}

.sidebar__subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 22px 0;
}

.sidebar__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 21px 0;
}

.sidebar__list {
    margin: 0;
    list-style: none;
}

.sidebar__item {
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 16px 0;
    padding: 0 0 0 43px;
}

.sidebar__item:before {
    content: '';
    width: 15px;
    height: 15px;
    left: 0px;
    position: absolute;
    top: 5px;
    background-image: url(../img/Vector.png);
    background-size: 15px 15px;
}