html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header__logo {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1140px) {
  .container {
    width: 734px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 358px;
  }
}

.header {
  background-color: #222222;
  position: relative;
  height: 75px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__loupe {
  background-color: #222222;
  border: 0ch;
  fill: #F8F8F8;
  margin: 0 0 0 41px;
}

.header__loupe:hover,
.header__loupe:focus {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.header__loupe:active {
  fill: #F16D7F;
}

.header__icon {
  width: 44px;
  height: 38px;
}

.header__search {
  color: white;
  border-radius: 10px;
  padding: 10px 35px;
  border: none;
  /*  outline: 1px solid black; */
  background: transparent;
}

.header__form {
  position: relative;
  margin-left: -30px;
}

.header__search:hover {
  outline: 1px solid #F1E4E6;
}

.header__form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 7px;
  left: 3px;
  background-image: url("../img/icon/loupe.svg");
  background-size: 26px 26px;
}

/*
.header__logo {}
*/
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  min-height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  fill: #FFFFFF;
  background-color: #222222;
  border: 0;
}

.header__burger:hover,
.header__burger:focus {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.header__item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #F8F8F8;
  background-color: #222222;
}

@media (max-width: 767px) {
  .header__item-2 {
    display: none;
  }
}

.header__item-2:hover,
.header__item-2:focus {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.header__loupe:hover,
.header__loupe:focus {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.header__loupe:active {
  fill: #F16D7F;
}

.header__link {
  margin: 0 0 0 34px;
  border: 0px;
}

.header__nav {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 765px;
  width: 232px;
  display: none;
  margin: 23px 0 0 0;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__title {
  text-transform: uppercase;
  margin: 37px 0 0 34px;
}

.nav-sub-item {
  text-decoration: none;
  margin: 24px 0 0 33px;
}

.nav-sub-item__title {
  text-transform: uppercase;
  color: #F16D7F;
  text-decoration: none;
}

.nav-sub-item__list {
  margin: 12px 0 20px 23px;
}

.nav-sub-item__item {
  margin: 0 0 11px 0;
}

.nav-sub-item__link {
  text-decoration: none;
  color: #6F6E6E;
}

.nav-sub-title-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #5D5D5D;
}

.header__burger:hover + .header__nav,
.header__burger:focus + .header__nav {
  display: block;
}

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 62px 0;
}

@media (max-width: 1140px) {
  .brand {
    margin: 0 0 18px 0;
  }
}

@media (max-width: 767px) {
  .brand {
    text-align: center;
  }
}

@media (max-width: 1140px) {
  .brand__img {
    width: 50%;
    min-height: 370px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.brand__title-wrp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1E4E6;
}

@media (max-width: 1140px) {
  .brand__title-wrp {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .brand__title-wrp {
    height: 363px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1140px) {
  .brand__title {
    font-size: 52px;
    line-height: 44px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1140px) {
  .brand__subtitle {
    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sales__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 260px;
  background-color: #4F4745;
  text-transform: uppercase;
}

@media (max-width: 1140px) {
  .sales__item {
    height: 167px;
    width: 232px;
    margin: 0 0 19px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    height: 249px;
    width: 344px;
    margin: 0 0 32px 0;
  }
}

.sales__item--woman {
  background-image: url(../img/sales-woman-bkg.jpg);
}

.sales__item--man {
  background-image: url(../img/sales-man-bkg.jpg);
}

.sales__item--kids {
  background-image: url(../img/sales-kids.jpg);
}

.sales__item--shoes {
  background-image: url(../img/sales-accesories.jpg);
  width: 100%;
}

@media (max-width: 1140px) {
  .sales__item--shoes {
    height: 116px;
    margin: 0 0 135px 0;
  }
}

@media (max-width: 767px) {
  .sales__item--shoes {
    margin: 0 0 64px 0;
  }
}

.sales__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.sales__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.catalog__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 65px 0 6px 0;
}

@media (max-width: 1140px) {
  .catalog__title {
    margin: 20px 0 0 0;
  }
}

.catalog__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin: 0 0 48px 0;
}

@media (max-width: 1140px) {
  .catalog__text {
    margin: 0 0 73px 0;
  }
}

@media (max-width: 767px) {
  .catalog__text {
    margin: 0 0 64px 0;
  }
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item-image {
  position: relative;
}

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 580px;
  background-color: #F8F8F8;
  position: relative;
}

@media (max-width: 1140px) {
  .catalog__item {
    margin: 0 0 15px 0;
  }
}

.overlay {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0px;
}

.catalog__button-add {
  position: absolute;
  top: 33.3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(58, 56, 56, 0);
  color: #FFFFFF;
  border: 0px;
}

.add__card-img {
  background-image: rgba(58, 56, 56, 0);
}

.overlay,
.catalog__button-add {
  display: none;
}

.catalog__item:hover .catalog__button-add,
.catalog__item:hover .overlay {
  display: block;
}

.catalog__title-subject {
  font-family: 'Lato';
  font-style: normal;
  padding: 25px 0 12px 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.catalog__caption {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 18px 16px;
}

.catalog__price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 0 0 20px 18px;
}

.catalog__button {
  border: 1px solid #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.catalog__button-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 211px;
  padding: 14px 34px 14px 34px;
  text-decoration: none;
  color: #F26376;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__button:hover,
.catalog__button:focus {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-animation: flip-scale-2-hor-top 0.5s linear both;
  animation: flip-scale-2-hor-top 0.5s linear both;
}

.catalog__button:active {
  border: 3px solid lightblue;
}

.aside {
  background-color: #222222;
  margin: 95px 0 0 0;
}

@media (max-width: 1140px) {
  .aside {
    margin: 64px 0 0 0;
  }
}

@media (max-width: 767px) {
  .aside {
    margin: 96px 0 0 0;
  }
}

.aside__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1140px) {
  .aside__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aside__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  min-height: 134px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__ico {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 103px 0 28px 0;
}

@media (max-width: 1140px) {
  .aside__ico {
    margin: 48px 0 0 0;
  }
}

.aside__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FFFFFF;
}

.aside__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 16px 0 0 0;
}

.aside__text-last {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 16px 0 64px 0;
}

.footer__page {
  background-image: url(../img/sea.jpeg);
  width: 100%;
  height: 100%;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1140px) {
  .footer__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  margin: 86px 0 0 0;
}

@media (max-width: 1140px) {
  .footer__author {
    margin: 53px 0 0 0;
  }
}

.footer__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer__ico-face {
  padding: 0 0 20px 0;
}

.footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
  text-align: center;
  margin: 150px 0 0 0;
}

@media (max-width: 1140px) {
  .footer__title {
    margin: 48px 0 0 0;
  }
}

.footer__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
  text-align: center;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0 0 0;
  margin: 27px 0 140px 0;
}

.input__border {
  width: 250px;
  height: 50px;
  background-color: #E1E1E1;
  -webkit-border-top-left-radius: 500px;
  -webkit-border-bottom-left-radius: 500px;
  -moz-border-radius-topleft: 500px;
  -moz-border-radius-bottomleft: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border: 0px;
  padding: 0 0 0 22px;
}

.button__border {
  width: 100px;
  height: 50px;
  background-color: #F16D7F;
  -webkit-border-top-right-radius: 500px;
  -webkit-border-bottom-right-radius: 500px;
  -moz-border-radius-topright: 500px;
  -moz-border-radius-bottomright: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  border: 0px;
  margin-left: -5px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.button__border:hover,
.button__border:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.button__border:active {
  opacity: 0.9;
}

.text__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222222;
}

.footer__ico {
  background-color: #222222;
}

.footer__svg {
  fill: #FFFFFF;
  margin: 24px 0 23px 7px;
}

.footer__svg:hover,
.footer__svg:focus {
  fill: #F16D7F;
  background-color: #222222;
}

.footer__svg:active {
  opacity: 0, 6;
}

.copy {
  background-color: #222222;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  fill: #222222;
}

.copy__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 30px 0 0 0;
}

.footer__link:hover,
.footer__link:focus {
  background-color: #F26376;
}

.header__registration {
  height: 148px;
  background-color: #F8F3F4;
}

.header__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0 0 0;
  text-transform: uppercase;
}

.control__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0 0 0;
}

@media (max-width: 767px) {
  .control__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.control__title {
  padding: 0 0 20px 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.item__first {
  border: 1px solid #A4A4A4;
  margin: 0 0 20px 0;
  width: 360px;
  height: 45px;
  padding: 0 0 0 17px;
}

.item__last {
  border: 1px solid #A4A4A4;
  width: 360px;
  height: 45px;
  padding: 0 0 0 17px;
  margin: 0 0 31px 0;
}

.item__email {
  border: 1px solid #A4A4A4;
  margin: 0 0 20px 0;
  width: 360px;
  height: 45px;
  padding: 0 0 0 17px;
}

.item__pas {
  border: 1px solid #A4A4A4;
  width: 360px;
  height: 45px;
  padding: 0 0 0 17px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  font-family: 'Lato';
}

.form__gender {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

#gender_female {
  margin: 0 0 0 20px;
}

.email__title {
  margin: 33px 0 20px 0;
}

.pas__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 0 39px 0;
}

.control__button {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  text-transform: uppercase;
  border: 0px;
  color: #FFFFFF;
  margin: 0 0 96px 0;
}

.button__img {
  padding: 0 0 0 20px;
}

.sidebar {
  width: 652px;
  margin: 0 0 0 128px;
}

@media (max-width: 1140px) {
  .sidebar {
    margin: 0 0 0 44px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    margin: 0 0 0 0;
    width: 358px;
  }
}

.sidebar__subtitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 22px 0;
  text-transform: uppercase;
}

@media (max-width: 1140px) {
  .sidebar__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin: 0 0 32px 0;
  }
}

.sidebar__text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 21px 0;
}

@media (max-width: 1140px) {
  .sidebar__text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    width: 358px;
  }
}

.sidebar__list {
  margin: 0;
  list-style: none;
}

.sidebar__item {
  position: relative;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 16px 0;
  padding: 0 0 0 43px;
}

@media (max-width: 1140px) {
  .sidebar__item {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
  }
}

.sidebar__item:before {
  content: '';
  width: 15px;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 5px;
  background-image: url(../img/Vector.png);
  background-size: 15px 15px;
}
/*# sourceMappingURL=style.css.map */