$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$white: #FFFFFF;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$black-gray: #5D5D5D;
$red: #F26376;

$desktop-width: 1140px;
$tablet-mid-width: 1200px;
$tablet-width: 767px;