.brand {
    display: flex;
    margin: 0 0 62px 0;

    @include tablet {
        margin: 0 0 18px 0;
    }

    @include mobile {
        text-align: center;
    }
}

.brand__img {
    @include tablet {
        width: 50%;
        min-height: 370px;
        object-fit: cover;
    }

    @include mobile {
        display: none;
    }
}


.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: $light-pink;

    @include tablet {
        padding: 0 0 0 68px;
    }

    @include mobile {
        height: 363px;
    }

}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;

    @include font(48px, 58px, 900);
    text-transform: uppercase;

    @include tablet {
        @include font(52px, 44px, 900);
    }

    @include mobile {
        @include font(38px, 45px, 900)
    }
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;

    @include font(37px, 44px, 700);

    @include tablet {
        @include font(28px, 24px, 700);
    }

    @include mobile {
        @include font(20px, 24px, 700)
    }
}

.brand__subtitle-pink {
    color: $dark-pink;
}