.header {
    background-color: $black;
    position: relative;
    height: 75px;

}

.header__logo {
    display: flex;
}


.header__loupe {
    background-color: $black;
    border: 0ch;
    fill: $light-grey;
    margin: 0 0 0 41px;
}

.header__loupe:hover,
.header__loupe:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header__loupe:active {
    fill: $dark-pink;
}

.header__icon {
    width: 44px;
    height: 38px;
}

.header__search {
    color: white;
    border-radius: 10px;
    padding: 10px 35px;
    border: none;
    /*  outline: 1px solid black; */
    background: transparent;
}


.header__form {
    position: relative;
    margin-left: -30px;
}

.header__search:hover {
    outline: 1px solid #F1E4E6;
}

.header__form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    top: 7px;
    left: 3px;
    background-image: url("../img/icon/loupe.svg");
    background-size: 26px 26px;
}

/*
.header__logo {}
*/
.header__list {
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 40px;
    align-items: center;
}

.header__burger {
    fill: $white;
    background-color: $black;
    border: 0;
}

.header__burger:hover,
.header__burger:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header__item-2 {
    display: flex;
    fill: $light-grey;
    background-color: $black;

    @include mobile {
        display: none;
    }
}

.header__item-2:hover,
.header__item-2:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



.header__loupe:hover,
.header__loupe:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header__loupe:active {
    fill: $dark-pink;
}



.header__link {
    margin: 0 0 0 34px;
    border: 0px;
}